{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}Inscrivez-vous à notre newsletter{% endblock %}

{% block body %}
<h1>Inscrivez-vous à notre newsletter</h1>
{{ form(form) }}
{% endblock %}